.overview {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.leftsideview {
    width: 560px;
    height: 789px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.rightsideview {
    width: 560px;
    height: 789px;
    display: flex;
    gap: 20px;
}

.How {
    width: 441px;
    height: 84px;
    box-sizing: border-box;
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    line-height: 36.31px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #011627;
}

.description {
    width: 464px;
    height: 91px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    line-height: 36.31px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #011627;
}

.properties {
    margin-top: 90px;

}

.properties li {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    list-style: none;
}

.Statistics {
    display: flex;
    width: 341px;
    height: 68px;
    text-align: left;
    gap: 45px;
}

.Statistics p {
    display: flex;
    flex-direction: column;
}

.red {
    color: #FF1D03;
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    line-height: 36.31px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.rightStatistics {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #011627;
}

.leftStatistics {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #011627;
    
}

.blue {
    color: #2EC4B6;
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    line-height: 36.31px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.exploreNow {
    width: 173px;
    height: 52px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    text-align: center;
    background: #2EC4B6;
    color: #FFFFFF;
    box-shadow: 0px 4px 12px 0px #2EC4B67A;
    border: none;
}

.leadsRed1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 40px;
    width: 270px;
    height: 333px;
    border: 1px solid rgb(178, 68, 68);
    border-radius: 25px;
    padding: 20px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    /* border-image-source: linear-gradient(180deg, rgba(231, 29, 54, 0.6) 0%, rgba(231, 29, 54, 0) 100%); */

}

.leadsRed1 img {
    width: 100px;
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    
}

.discriptionLeadRed {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: start;
    gap: 20px;

}

.discriptionLeadRed h3 {
    font-size: 26px;
}

.discriptionLeadRed p {
    font-size: 18px;

}

.discriptionLeadRed a {
    font-size: 18px;
    color: #FF1D03;
}

.leadsgreen1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 40px;
    width: 270px;
    height: 333px;
    border: 1px solid #F6FFFE;
    border-radius: 25px;
    padding: 20px;
    background-color: #F6FFFE;
    margin-bottom: 20px;
}

.right-lead {
    margin-top: 50px;
}
.discriptionLeadgreen a{
    color: #2EC4B6;
    font-size: 18px;
    margin-top: 10px;
}
.leadsgreen1{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 40px;
    width: 270px;
    height: 333px;
    border: 1px solid #F6FFFE;
    border-radius: 25px;
    padding: 20px;
    background-color: #F6FFFE;
    margin-bottom: 20px;
}
.discriptionLeadgreen a{
    color: #2EC4B6;
    font-size: 18px;
    display: flex;
    gap: 20px;
}